<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <div th:replace="common :: commontitle"/>        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        
        <div th:replace="common :: commonhead"/>

    </head>

    <body>

        <!-- Begin page -->
        <div id="wrapper">

            <!-- Topbar Start -->
            <div th:replace="common :: commonstart"/>
            <!-- end Topbar -->

            <!-- ========== Left Sidebar Start ========== -->
            <div th:replace="common :: commonleft"/>
            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">
                    <!-- Start Content-->
                    <div class="container-fluid">
                        <div class="row page-title">
                            <div class="col-md-12">
                                <h4 class="mb-1 mt-0">病历管理</h4>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title mt-0">病人病历</h4>

                                        <form class="form-horizontal" >
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group row">
                                                        <label class="col-lg-2 col-form-label"
                                                            for="simpleinput">姓名</label>
                                                        <div class="col-lg-10">
                                                            <input type="text" class="form-control" id="simpleinput" name="caseUserName"
                                                               readonly th:value="">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-lg-2 col-form-label"
                                                            for="example-email">年龄</label>
                                                        <div class="col-lg-10">
                                                            <input type="text" id="example-email" name="example-email" th:name="caseAge"
                                                                class="form-control" readonly th:value="">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-lg-2 col-form-label">性别</label>
                                                        <div class="col-lg-10">
                                                            <input type="text" class="form-control-plaintext" readonly th:value="${case.caseGender}?'男':'女'">
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label class="col-lg-2 col-form-label">身份证号</label>
                                                        <div class="col-lg-10">
                                                            <input th:type="text" class="form-control-plaintext" type="url" name="caseIdcard" th:value="">
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label class="col-lg-2 col-form-label">手机号</label>
                                                        <div class="col-lg-10">
                                                            <input type="text" class="form-control-plaintext"
                                                                   readonly name="casePhoneNumer" th:value="">
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label class="col-lg-2 col-form-label"
                                                            for="example-placeholder">现居住地址</label>
                                                        <div class="col-lg-10">
                                                            <input type="text" class="form-control-plaintext"
                                                                readonly id="example-placeholder" name="caseAddress" th:value="">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-lg-2 col-form-label"
                                                            for="example-textarea">症状分析</label>
                                                        <div class="col-lg-10">
                                                            <textarea class="form-control" rows="5"
                                                                id="example-textarea" name="caseContent" readonly th:value=""></textarea>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label class="col-lg-2 col-form-label">药品</label>
                                                        <div class="col-lg-10">
                                                            <input type="text" class="form-control-plaintext"
                                                                readonly name="caseUseDrug" th:value="">
                                                        </div>
                                                    </div>



                                                    <div class="form-group row">
                                                        <label class="col-lg-2 col-form-label"
                                                            for="example-static">本医院邮箱</label>
                                                        <div class="col-lg-10">
                                                            <input type="text" readonly class="form-control-plaintext"
                                                                id="example-static" value="email@example.com" name="caseEmail">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-lg-2 col-form-label"
                                                            for="example-helping">接诊医生编号</label>
                                                        <div class="col-lg-10">
                                                            <input type="text" class="form-control-plaintext" id="example-helping" readonly
                                                                 th:value="" name="caseByDoctorId">

                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-lg-2 col-form-label"
                                                               for="example-static">接诊医生姓名</label>
                                                        <div class="col-lg-10">
<!--                                                            <h6 >[[${session.loginuser.userName}]]</h6>-->
                                                            <input type="text" readonly class="form-control-plaintext"
                                                                   id="example-static1" th:value="" name="caseByDoctorName">
                                                        </div>
                                                    </div>


                                                </div>
                                                <div class="col">
                                                    <div class="form-group row">
                                                        <label class="col-lg-2 col-form-label"
                                                            for="example-fileinput">患者文件</label>
                                                        <div class="col-lg-10">
                                                            <input type="file" class="form-control"
                                                                id="example-fileinput">
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label class="col-lg-2 col-form-label"
                                                            for="example-date">时间</label>
                                                        <div class="col-lg-10">
                                                            <input class="form-control" id="example-date" type="date"
                                                                name="caseTime" readonly th:value="">
                                                        </div>
                                                    </div>

<!--                                                    <div class="form-group row">-->
<!--                                                        <label class="col-lg-2 col-form-label"-->
<!--                                                            for="example-month">Month</label>-->
<!--                                                        <div class="col-lg-10">-->
<!--                                                            <input class="form-control" id="example-month" type="month"-->
<!--                                                                name="month">-->
<!--                                                        </div>-->
<!--                                                    </div>-->

<!--                                                    <div class="form-group row">-->
<!--                                                        <label class="col-lg-2 col-form-label"-->
<!--                                                            for="example-time">Time</label>-->
<!--                                                        <div class="col-lg-10">-->
<!--                                                            <input class="form-control" id="example-time" type="time"-->
<!--                                                                name="time">-->
<!--                                                        </div>-->
<!--                                                    </div>-->

<!--                                                    <div class="form-group row">-->
<!--                                                        <label class="col-lg-2 col-form-label"-->
<!--                                                            for="example-week">Week</label>-->
<!--                                                        <div class="col-lg-10">-->
<!--                                                            <input class="form-control" id="example-week" type="week"-->
<!--                                                                name="week">-->
<!--                                                        </div>-->
<!--                                                    </div>-->

<!--                                                    <div class="form-group row">-->
<!--                                                        <label class="col-lg-2 col-form-label"-->
<!--                                                            for="example-number">Number</label>-->
<!--                                                        <div class="col-lg-10">-->
<!--                                                            <input class="form-control" id="example-number"-->
<!--                                                                type="number" name="number">-->
<!--                                                        </div>-->
<!--                                                    </div>-->



<!--                                                    <div class="form-group row">-->
<!--                                                        <label class="col-lg-2 col-form-label">Search</label>-->
<!--                                                        <div class="col-lg-10">-->
<!--                                                            <input class="form-control" type="search" name="search">-->
<!--                                                        </div>-->
<!--                                                    </div>-->

<!--                                                    <div class="form-group row">-->
<!--                                                        <label class="col-lg-2 col-form-label">Tel</label>-->
<!--                                                        <div class="col-lg-10">-->
<!--                                                            <input class="form-control" type="tel" name="tel">-->
<!--                                                        </div>-->
<!--                                                    </div>-->

<!--                                                    <div class="form-group row">-->
<!--                                                        <label class="col-lg-2 col-form-label"-->
<!--                                                            for="example-color">Color</label>-->
<!--                                                        <div class="col-lg-10">-->
<!--                                                            <input class="form-control" id="example-color" type="color"-->
<!--                                                                name="color" value="#5369f8">-->
<!--                                                        </div>-->
<!--                                                    </div>-->

<!--                                                    <div class="form-group row mb-0">-->
<!--                                                        <label class="col-lg-2 col-form-label"-->
<!--                                                            for="example-range">Range</label>-->
<!--                                                        <div class="col-lg-10">-->
<!--                                                            <input class="custom-range mt-1" id="example-range"-->
<!--                                                                type="range" name="range" min="0" max="10">-->
<!--                                                        </div>-->
<!--                                                    </div>-->

                                                </div>
                                            </div>
                                        </form>
            
                                    </div> <!-- end card-body -->
                                </div> <!-- end card-->
                            </div><!-- end col -->
                        </div>
                        <!-- end row -->


                        
                    </div> <!-- container-fluid -->

                </div> <!-- content -->

                

                <!-- Footer Start -->
                <div th:replace="common :: commonend"/>
                <!-- end Footer -->

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->

        <!-- Right Sidebar -->
        <div class="right-bar">
            <div class="rightbar-title">
                <a href="javascript:void(0);" class="right-bar-toggle float-right">
                    <i data-feather="x-circle"></i>
                </a>
                <h5 class="m-0">Customization</h5>
            </div>
    
            <div class="slimscroll-menu">
    
                <h5 class="font-size-16 pl-3 mt-4">Choose Variation</h5>
                <div class="p-3">
                    <h6>Default</h6>
                    <a href="index.html"><img src="assets/images/layouts/vertical.jpg" alt="vertical" class="img-thumbnail demo-img" /></a>
                </div>
                <div class="px-3 py-1">
                    <h6>Top Nav</h6>
                    <a href="layouts-horizontal.html"><img src="assets/images/layouts/horizontal.jpg" alt="horizontal" class="img-thumbnail demo-img" /></a>
                </div>
                <div class="px-3 py-1">
                    <h6>Dark Side Nav</h6>
                    <a href="layouts-dark-sidebar.html"><img src="assets/images/layouts/vertical-dark-sidebar.jpg" alt="dark sidenav" class="img-thumbnail demo-img" /></a>
                </div>
                <div class="px-3 py-1">
                    <h6>Condensed Side Nav</h6>
                    <a href="layouts-dark-sidebar.html"><img src="assets/images/layouts/vertical-condensed.jpg" alt="condensed" class="img-thumbnail demo-img" /></a>
                </div>
                <div class="px-3 py-1">
                    <h6>Fixed Width (Boxed)</h6>
                    <a href="layouts-boxed.html"><img src="assets/images/layouts/boxed.jpg" alt="boxed"
                            class="img-thumbnail demo-img" /></a>
                </div>
            </div> <!-- end slimscroll-menu-->
        </div>
        <!-- /Right-bar -->

        <!-- Right bar overlay-->
        <div class="rightbar-overlay"></div>

        <!-- Vendor js -->
        <script src="assets/js/vendor.min.js"></script>

        <!-- App js -->
        <script src="assets/js/app.min.js"></script>


    </body>
</html>